@import url(../../../src/style.scss);
* {
  font-family: "Roboto", sans-serif;
}

.tr-button {
  padding: 12px 24px;
  border-radius: 3rem;
  border: 1px solid var(--text-color);
}

.tr-button:hover {
  background-color: var(--text-color);
  color: var(--acccent-color);
}

.tr-button--primary {
  background-color: var(--acccent-color);
  color: var(--text-color);
}
.tr-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
